.date-selector {
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__from {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &__to {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  input {
    cursor: pointer;
  }
}
