@import "../styles/index";

.app {
  display: flex;
  flex-direction: column;
  padding: 0 3vw;
  background-color: #000000;
  color: #fff;
  min-height: 100vh;

  &__label {
    margin: 1rem 0;

    @include if-small-tablet {
      display: flex;
      justify-content: center;
    }
  }

  select {
    border-radius: 6px;
    cursor: pointer;
    height: 40px;
    padding: 10px;
    max-width: 100px;

    option {
      text-transform: capitalize;
    }
  }

  input {
    height: 40px;
    padding: 10px;
    max-width: 100px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: #18181b;
    border: none;
    cursor: pointer;
    height: 40px;
    padding: 10px;

    &:hover {
      color: #ff6767;
    }
  }
}
