@import "../../styles/index";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

$border-radius: 10px;

.card {
  border: 2px solid #fff;
  border-radius: $border-radius;
  background-color: #72777e;
  cursor: pointer;
  height: 100%;
  width: 300px;
  position: relative;
  overflow: hidden;
  margin: 0 2rem 2rem 0;
  font-family: "Roboto Slab", serif;

  @include if-tablet {
    margin: 0 0 2rem 0;
    width: 40vw;
  }

  @include if-mobile {
    width: 90vw;
    margin: 0 0 2rem 0;
  }

  &__image {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    transition: all 0.3s ease-in-out;
    display: block;
    width: 100%;
    height: 50%;
    transform: scale(1);
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  &__publication-day-or-section {
    color: #000;
    font-size: 14px;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: 0.9rem;
  }

  &__star-container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding: 0.5rem 0.5rem;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      margin: 0;
    }

    img {
      height: 30px;
      width: 30px;
    }
  }

  &:hover {
    border: 2px solid #ffea85;

    .card__image {
      transform: scale(1.05);
      filter: brightness(110%);
    }
  }
}
